<!-- Author: Sai Shankar
TID: T0159ZN
Date: 2024-03-17
Description: BCA-BSW IOHWAB Automation Test Framework Template -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BCA-BSW IOHWAB Automation Test Framework Verification</title>
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <style type="text/css">
      @media screen {
        body {
          font-family: arial, verdana, trebuchet, officina, sans-serif;
        }
        a {
          text-decoration: none;
        }
        .SubHeadingTable {
          width: 98%;
          text-align: center;
          margin-top: 15px;
          margin-bottom: 25px;
          margin-left: auto;
          margin-right: auto;
          background-color: rgb(220, 221, 222);
        }
        h1 {
          font-family: arial, sans-serif;
          font-weight: bold;
        }
        h4 {
          font-family: arial, sans-serif;
          font-weight: bold;
          font-size: 16px;
          margin-top: 10px;
          margin-bottom: 10px;
        }
        .NegativeResult {
          background-color: rgb(240, 0, 0);
          text-align: center;
          font-weight: bold;
        }
        .PositiveResult {
          background-color: rgb(25, 165, 88);
          text-align: center;
          font-weight: bold;
        }
        th {
          background-color: rgb(179, 179, 179);
          font-family: arial, verdana, trebuchet, officina, sans-serif;
          font-weight: bold;
          text-align: center;
          padding: 5px;
          border-width: 1px;
          border-style: solid;
          border-color: rgb(255, 255, 255);
        }
        td {
          background-color: rgb(229, 229, 229);
          text-align: left;
          padding: 5px;
          border-width: 1px;
          border-style: solid;
          border-color: rgb(255, 255, 255);
        }
      }
    </style>
  </head>
  <body>
    <nav class="SubHeadingTable">
      <h1 class="text-center text-3xl">
        Report: BCA-BSW IOHWAB Automation Test Framework Verification
      </h1>
    </nav>
    <div class="w-1/2 mb-5 mx-auto">
      {% if data.get('overall_result') %}
      <p class="PositiveResult">Passed</p>
      {% else %}
      <p class="NegativeResult">Failed</p>
      {% endif %}
    </div>

    <div>
      <div class="SubHeadingTable">
        <h1 class="text-center text-xl">General Test Information</h1>
      </div>

      <div class="mx-10">
        <div>
          <h4>Test Engineer</h4>
          <p class="px-10">Windows Login Name: {{data.get('user') }}</p>
        </div>

        <div id="testcaseOverview">
          <div class="SubHeadingTable">
            <h1 class="text-center text-xl">Test Overview</h1>
          </div>
          <div class="ml-16">
            <p>Test begin: {{data.get('test_begin_time') }}</p>
            <p>Test end: {{data.get('test_end_time') }}</p>
            <h4>Statistics</h4>
            <div class="ml-16">
              <table class="text-center text-xl">
                <tr>
                  <td>Overall number of test cases</td>
                  <td class="text-center" width="60">{{data.get('total_testcases') }}</td>
                  <td></td>
                </tr>
                <!-- <tr>
                  <td>Executed test cases</td>
                  <td class="text-center">{{data.get('testcases_executed') }}</td>
                  <td>100% of all test cases</td>
                </tr>
                <tr>
                  <td>Not executed test cases</td>
                  <td class="text-center">{{data.get('testcases_not_executed') }}</td>
                  <td>0% of all test cases</td>
                </tr> -->
                <tr>
                  <td>Test cases passed</td>
                  <td class="PositiveResult">{{data.get('testcases_passed') }}</td>
                  <td class="PositiveResult">{{(data.get('testcases_passed') // data.get('total_testcases')) * 100}} % of executed test cases</td>
                </tr>
                <tr>
                  <td>Test cases failed</td>
                  <td class="NegativeResult">{{data.get('testcases_failed') }}</td>
                  <td class="NegativeResult">{{(data.get('testcases_failed') // data.get('total_testcases')) * 100}} % of executed test cases</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="test">
      <div id="TestSetup">
        <div class="SubHeadingTable">
          <h1 class="text-center text-xl">Test Setup</h1>
        </div>
        <div class="mx-10">
          <table class="w-full text-left pr-5">
            <tr>
              <!-- <th width="1px">Timestamp</th> -->
              <th width="1px">Test Step</th>
              <th width="auto">Description</th>
              <th width="1px">Result</th>
            </tr>
            <tr>
              <!-- <td>0.003200</td> -->
              <td>Step1</td>
              <td>
                Connect the COM port of Numato USB Relay
              </td>
              {% if data.get('test_setup').get('step1') %}
              <td class="PositiveResult">pass</td>
              {% else %}
              <td class="NegativeResult">fail</td>
              {% endif %}
            </tr>
            <tr>
              <!-- <td>0.503200</td> -->
              <td class="text-center">Step2</td>
              <td>Connect the COM port of MCU</td>
              {% if data.get('test_setup').get('step2') %}
              <td class="PositiveResult">pass</td>
              {% else %}
              <td class="NegativeResult">fail</td>
              {% endif %}
            </tr>
          </table>
        </div>
      </div>

      <div id="TestcaseInformation">
        <div class="SubHeadingTable">
          <h1 class="text-center text-xl">Testcase Information</h1>
        </div>

        <div class="mx-10 grid gap-5">
          {% for key, value in data.get('testcases').items() %}

          {% if value.get('result') %}
          <div id="testcase{{ loop.index }}" class="rounded p-5 shadow bg-green-200">
          {% else %}
          <div id="testcase{{ loop.index }}" class="rounded p-5 shadow bg-red-200">
          {% endif %}
            <div class="w-full my-5 mx-auto">
              {% if value.get('result') %}
              <p class="PositiveResult">
                Test Case on
                {{value.get('rqm_id')}} - {{key}} : Passed
              </p>
              {% else %}
              <p class="NegativeResult">
                Test Case on
                {{value.get('rqm_id')}} - {{key}} : Failed
              </p>
              {% endif %}
            </div>

            <div class="my-5">
              <p>
                <span class="font-bold">Test Case Objective : </span>{{value.get('testcase_description') }}
              </p>
              <p>
                <span class="font-bold">Test Case RQM ID : </span
                >{{value.get('rqm_id') }}
              </p>
            </div>

            <div class="mx-5">
              <table class="w-full text-left px-5">
                <tr>
                  <th>Test Steps</th>
                  <th>Test Behaviour</th>
                  <th width="auto">Description</th>
                  <th width="auto">Expected Result</th>
                  <th width="auto">Observed Result</th>
                  <th>Result</th>
                </tr>
                <tr>
                  <td class="text-center">Step 1</td>
                  <td class="text-center">Test Case Initialization</td>
                  <td>BCA {{value.get('testcase_name')}} ODH Pin init</td>
                  <td>
                    ' {{ value.get('ODH_Pin') }} ' pin status in BCA Stub application is changed
                  </td>
                  <td>
                    ' {{ value.get('ODH_Pin') }} ' pin status in BCA Stub application is changed
                  </td>
                    <td class="PositiveResult">pass</td>
                </tr>
                <tr>
                  <td class="text-center">Step 2</td>
                  <td class="text-center">Test Case Run</td>
                  <td>
                    Run the {{value.get('testcase_name')}} and Verify the '{{value.get('ODH_Pin') }}' {{value.get('Zone')}} pin
                  </td>
                  <td>' {{value.get('ODH_Pin') }} ' pin status in {{value.get('Zone')}} is HIGH</td>
                  {% if value.get('result') %}
                  <td>' {{value.get('ODH_Pin') }} ' pin status in {{value.get('Zone')}} is HIGH</td>
                  <td class="PositiveResult">pass</td>
                  {% else %}
                  <td>' {{value.get('ODH_Pin') }} ' pin status in {{value.get('Zone')}} is LOW</td>
                  <td class="NegativeResult">fail</td>
                  {% endif %}
                </tr>
              </table>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>

      <div id="TestTeardown">
        <div class="SubHeadingTable">
          <h1 class="text-center text-xl">Test Setup Teardown</h1>
        </div>
        <div class="mx-10">
          <table class="w-full text-left pr-5">
            <tr>
              <!-- <th width="1px">Timestamp</th> -->
              <th width="1px">Test Step</th>
              <th width="auto">Description</th>
              <th width="1px">Result</th>
            </tr>
            <tr>
              <!-- <td>0.103200</td> -->
              <td>Step2</td>
              <td> Disconnect the COM port of Numato USB Relay </td>
              {% if data.get('test_setup_teardown').get('step2') %}
              <td class="PositiveResult">pass</td>
              {% else %}
              <td class="NegativeResult">fail</td>
              {% endif %}
            </tr>
            <tr>
              <!-- <td>0.503200</td> -->
              <td class="text-center">Step3</td>
              <td>Disonnect the COM port of MCU</td>
              {% if data.get('test_setup_teardown').get('step2') %}
              <td class="PositiveResult">pass</td>
              {% else %}
              <td class="NegativeResult">fail</td>
              {% endif %}
            </tr>
          </table>
        </div>
      </div>
    </div>

    <footer class="my-10">
      <p class="mt-8 text-base leading-6 text-center">
        © 2024 Stellantis, Inc. All rights reserved.
      </p>
    </footer>
  </body>
</html>
