[0x40]
P0 = ODH_45
P1 = ODH_56
P2 = ODH_44
P3 = ODH_41
P4 = ODH_07
P5 = ODH_59
P6 = ODH_55
P7 = ODH_38
P8 = ODH_02
P9 = ODH_62
P10 = ODH_43
P11 = ODH_10
P12 = ODH_01
P13 = ODH_15
P14 = ODH_26
P15 = ODH_32

[0x4E]
P0 = free
P1 = free
P2 = free
P3 = free
P4 = free
P5 = free
P6 = free
P7 = free
P8 = free
P9 = free
P10 = free
P11 = free
P12 = free
P13 = free
P14 = free
P15 = free

[0xE0]
P0 = free
P1 = free
P2 = free
P3 = free
P4 = free
P5 = free
P6 = free
P7 = free
P8 = free
P9 = free
P10 = free
P11 = free
P12 = free
P13 = free
P14 = free
P15 = free
P16 = free
P17 = free
P18 = free
P19 = free
P20 = free
P21 = free
P22 = free
P23 = free
P24 = free
P25 = free
P26 = free
P27 = free
P28 = free
P29 = free
P30 = free
P31 = free
P32 = free
P33 = free
P34 = free
P35 = free
P36 = free
P37 = free
P38 = free
P39 = free
